.App {
  text-align: center;
}

.App-header {
  background-color: #6981b3;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  color: white;
}

main {
  margin: 30px 50px 30px 50px;
}

.feed {
  display: flex-column;
  margin: 0px, 100px, 0px, 100px;
}

.post {
  text-align: left;
  margin: 0px, 10em, 0px, 10em;
}

.redacted {
  display: inline;
  background: black;
  padding: 5px;
  margin: 5px;
  font-size: 1em;
  line-height: 2.2em;
  text-justify: left;
}

.App-link {
  color: #61dafb;
}

/*
redacted text formatting from here: 
https://stackoverflow.com/questions/2527765/add-a-background-color-to-text-but-with-space-blank-space-between-lines-of-para
*/