.App {
  /* text-align: center; */
  margin: 0;
  color: black
}

.App-header {
  background-color: #f5b504;
}

#titlediv {
  margin: 0px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-header a {
  color: rgb(233, 231, 245);
  text-decoration: none;
}

.dropdown-toggle {
  background-color: rgb(252, 217, 100);
  border-color: rgb(252, 217, 100);
}

main {
  margin: 30px 50px 30px 50px;
}

.feed {
  display: flex-column;
}

.post {
  text-align: left;
  margin: 0px, 10em, 0px, 10em;
}

.redacted {
  display: inline;
  background: black;
  padding: 3px;
  margin: 5px;
  line-height: 2.2em;
  text-justify: left;
}


/*
redacted text formatting from here: 
https://stackoverflow.com/questions/2527765/add-a-background-color-to-text-but-with-space-blank-space-between-lines-of-para
*/