.App {
  /* text-align: center; */
  margin: 0
}

.App-header {
  background-color: #6981b3;
  display: flex;
}

#titlediv {
  margin: 0px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.App-header a {
  color: black;
  text-decoration: none;
}



main {
  margin: 30px 50px 30px 50px;
}

.feed {
  display: flex-column;
  /* margin: 0px, 100px, 0px, 100px; */
}

.post {
  text-align: left;
  margin: 0px, 10em, 0px, 10em;
}

.redacted {
  display: inline;
  background: black;
  padding: 3px;
  margin: 5px;
  line-height: 2.2em;
  text-justify: left;
}

.App-link {
  color: #61dafb;
}

/*
redacted text formatting from here: 
https://stackoverflow.com/questions/2527765/add-a-background-color-to-text-but-with-space-blank-space-between-lines-of-para
*/