.App {
  /* text-align: center; */
  margin: 0;
  color: black
}

.App-header {
  background-color: #f0a608;
  padding: 20px 0px 20px 0px;
}

#titlediv {
  margin: 0px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main-title {
  margin: 0
}

#subtitle {
  margin: 7px 0px 0px 0px;
}

.App-header a {
  color: rgb(233, 231, 245);
  text-decoration: none;
}

.dropdown-toggle {
  background-color: #f0a608;
  border-color: #f5b504;
}

.dropdown .btn:hover {
  background-color: rgb(238, 153, 41);
  border-color: rgb(252, 217, 100);
  /* color: red; */
}

.dropdown .btn:active {
  background: rgb(252, 217, 100); 
  color:#000;
}

.dropdown .btn:focus {
  background: rgb(252, 217, 100);
  border-color: #f0a608; 
  color:#000;
}

#void-button {
  display: flex;
  justify-content: flex-end;
}

main {
  margin: 10px 50px 30px 50px;
}

.feed {
  display: flex-column;
}

.post {
  text-align: left;
  margin: 0px, 10em, 0px, 10em;
}

.redacted {
  display: inline;
  background: black;
  padding: 3px;
  margin: 5px;
  line-height: 2.2em;
  text-justify: left;
}

.btn-secondary {
  background-color: rgb(128, 154, 209);
}

.feed-buttons {
  display: flex;
  justify-content: space-between;
}




/*
redacted text formatting from here: 
https://stackoverflow.com/questions/2527765/add-a-background-color-to-text-but-with-space-blank-space-between-lines-of-para
*/

@media (min-width: 666px) {
  #titlediv {
    justify-content: flex-start;
  }

  .dropdown {
    margin: 0px 50px 0px 100px
  }

  .delete-button {
    margin: 0px 0px 0px 100px
  }

  .feed-buttons {
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: 800px) {
  #void-button {
    display: flex;
    justify-content: center;
  }
}
