.App {
  margin: 0;
  color: black;
}

a {
  color: #8784c4;
  text-decoration: none;
}

a:hover {
  color: #960f0f;
}

.App-header {
  /* background-color: #db4c18; */
  /* background: rgb(208,21,21);
  background: linear-gradient(153deg, rgba(208,21,21,1) 37%, rgba(2,0,36,1) 98%); */
  /* background: radial-gradient(#e66465, #9198e5); */
  /* background: rgb(208,21,21);
  background: linear-gradient(157deg, rgba(208,21,21,1) 41%, rgba(58,8,83,1) 100%); */
  background: radial-gradient(ellipse at top, #581c1c, #9198e5),
            radial-gradient(ellipse at bottom, #9198e5, transparent);
  padding: 20px 0px 15px 0px;
}

#titlediv {
  margin: 0px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main-title {
  margin: 0;
  font-size: 6vw;
}

#subtitle {
  margin: 0;
  font-size: 3vw;
}

.App-header a {
  color: rgb(233, 231, 245);
  text-decoration: none;
}

.dropdown-toggle {
  background-color: #8784c4;
  border-color: transparent;
}

.dropdown .btn:hover {
  background-color: #b0aed3;
  border-color: transparent;
}

.dropdown .btn:active {
  background: #b0aed3; 
  color:#000;
}

.dropdown .btn:focus {
  background: #b0aed3;
  border-color: transparent; 
  color:rgb(0, 0, 0);
}

#void-button {
  display: flex;
  justify-content: flex-end;
}

.btn-dark {
  background-color: transparent;
  background: radial-gradient(ellipse at bottom, #581c1c, #9198e5),
            radial-gradient(ellipse at top, #2a36b8, transparent);
  border-color: transparent;
}

.btn-dark:hover {
  border-color: transparent;
  background: radial-gradient(ellipse at bottom, #960f0f, #9198e5),
  radial-gradient(ellipse at top, #2a36b8, transparent);
  color: rgb(238, 161, 161);
}

.btn-dark:focus {
  outline: none;
  box-shadow: none;
}

main {
  margin: 10px 50px 30px 50px;

}

.feed {
  display: flex-column;
}

.post {
  text-align: left;
  margin: 0px, 10em, 0px, 10em;
}

.redacted {
  filter: blur(4px);
  /* display: inline;
  background: black;
  padding: 3px;
  margin: 5px;
  line-height: 2.2em; */
  text-justify: left;
}

/*
blurred text and redacted formating idea from here:
https://codepen.io/adamruf/pen/GZwdrY
redacted text formatting from here: 
https://stackoverflow.com/questions/2527765/add-a-background-color-to-text-but-with-space-blank-space-between-lines-of-para
*/

.btn-primary {
  background-color: #9198e5;
  border-color: transparent;
}

.btn-secondary {
  background-color: #6b4f83;
  border-color: transparent;
}

.btn-secondary:hover {
  color: rgb(238, 161, 161);
  background: linear-gradient(#960f0f, #6b4f83);
  border-color: transparent
}

.btn-warning {
  background: linear-gradient(#581c1c, #9198e5);
  border-color: transparent;
  color: white;
  outline: none;
}

.btn-warning:hover {
  color: rgb(238, 161, 161);
  background: linear-gradient(#960f0f, #9198e5);
  border-color: transparent;
  outline: none;
}

.btn-warning:focus {
  outline: none;
  box-shadow: none;
}

.feed-buttons {
  display: flex;
  justify-content: flex-start;
}

.delete-button {
  margin: 0px 0px 0px 250px
}

@media (min-width: 666px) {
  #titlediv {
    justify-content: flex-start;
  }

  .dropdown {
    margin: 0px 50px 0px 70px
  }
}

@media (min-width: 800px) {
  #void-button {
    display: flex;
    justify-content: center;
  }
}
